<html>
    {%load static%}
    <head>
        <title>namecard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{%static '/fol/styles.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <div class="background">
            <div class="top">
                <div class="A">
                    <div class="img"><img src="{%static '/fol/멋사로고.png'%}" height="102%"></div>
                </div>
                <div class="cont">
                    <div class="name"style="font-size:xx-large">JUNG YOO REE</div>
                    <div class="info">Hangyang Univ / Likelion 9th</div>
                    <div class="info">Contact: jayjolly915@gmail.com</div>
                </div>  
            </div>
            <div class="bottom">
                <div class="B">
                    <span style="color:white"><i class="fab fa-github fa-lg"></i></span>
                    <a href="https://github.com/YooreeJ">https://github.com/YooreeJ</a>
                </div>
            </div>            
        </div>
    </body>
</html>