<!DOCTYPE html>
<head>
    <meta charset='UTF-8'>
    <title>todolist</title>
</head>

<body>
    <h1>민주의 TODOLIST</h1>
    <p>
        {%for one in todo%}
        <p>
            {{one.todolist}}
            <a href="{% url 'delete' one.id %}">
                <button type="submit" value='X' name='delete'>삭제 </button>
            </a>
            <a href="{% url 'edit' one.id %}">
                <button type="submit" value='수정' name='update'>수정 </button>
            </a>
        </p>
        {% endfor %}
    </p>
    <p>
    <form method="post" action="{%url 'create'%}">
        {% csrf_token %} 
        <table>
            {{form.as_table}}
        </table>
        <button type='submit' value="제출">제출</button>
    </form>
    </p>
</body>