<!DOCTYPE html>
<head>
    <meta charset=UTF-8>
    <title>home</title> 
</head>
<body>
    <h1>여행지 설문 페이지</h1>
    <form method="Post" action="save_result">
        {% csrf_token %}
        <h3>{{survey.questions}}</h3>
        <div>
            <p><input type="radio" name="num" value="{{survey.ans1}}">{{survey.ans1}}</p>
            <p><input type="radio" name="num" value="{{survey.ans2}}">{{survey.ans2}}</p>
            <p><input type="radio" name="num" value="{{survey.ans3}}">{{survey.ans3}}</p>
            <p><input type="radio" name="num" value="{{survey.ans4}}">{{survey.ans4}}</p>
        </div>
        <div>
            <input type="hidden" name="survey_idx" value={{survey.survey_idx}}>
            <input type="submit" value="투표완료" >
            <input type="button" value="결과확인" onclick="show_result()" >
        </div>
    </form>
    <script>
        // 결과확인 **몰라도 됨**아직은
        function show_result(){
            location.href= "show_result/{{survey.survey_idx}} ";
        }
    </script>
</body>
